.to-do-list {
    margin       : 20px auto;
    padding      : 30px;
    width        : 680px;
    min-height   : 200px;
    border       : 1px solid gray;
    border-radius: 10px;
}

.list-box {
    display: flex;

}

.list-box ul {
    margin       : 10px;
    padding      : 30px;
    flex         : 1;
    min-height   : 200px;
    border       : 1px solid gray;
    border-radius: 10px;
}

.list-box ul li {
    line-height: 32px;
}

.list-box ul li button {
    margin: 5px;
}

.hidden {
    display: none;
}