#root .page-menu { box-sizing: border-box; position: absolute; top: 0; left: 0; bottom: 0; width: 280px; min-height: 100vh; z-index: 1; background: #eafaff; border-right: 1px solid gray;}
#root .page-main { box-sizing: border-box; position: absolute; top: 0; right: 0; bottom: 0;  left: 280px; z-index: 0;}


