.my-form {
    display: inline-block;
    padding: 30px;
    border: 1px solid gray;
    border-radius: 8px;
}
.from-item {
    margin: 20px 0;
}
textarea {
    vertical-align: text-top;
}

input,
button,
select {
    margin: 4px;
    padding: 5px 8px;
    vertical-align: middle;
    font-size: 16px;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0 10px;
    width: 16px;
    height: 16px;
}
