.header {
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 0 6px 0 #d6d6d6;
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        a {
            flex: 1;
            i {
                display: block;
                
            }
            b {
                font-weight: normal;
                font-size: 14px;
            }
        }
    }
}
