.redux {
    text-align: left;
}
.redux h1{
    font-size: 24px;
}
.redux pre, p {
    font-size: 18px;
    line-height: 36px;
}

.redux b{
    color: red;
}

.redux button{
    margin: 20px;
    padding: 4px 10px;
    font-size: 16px;
}
